* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
}

h3, th, .subTitle {
  font-size: 16px;
}

.subTitle {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

p, td, .lead {
  font-size: 14px;
}

.checked, .fa-star:hover {
  color: chocolate !important;
  cursor: pointer;
}

.checked-50 {
  color: rgba(210, 105, 30, 0.5);
}

.form-check-input {
  cursor: pointer;
}

.socialMediaArea i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid black;
}

header {
  max-height: 50px;
}
header div {
  display: flex;
  align-items: center;
}
header .hotlineNumber {
  font-size: 13px !important;
}
header .hotlineNumber:hover a {
  color: brown !important;
}
header i {
  font-size: 10px;
}

nav .navbar-brand {
  cursor: pointer;
}
nav .nav-link {
  border-radius: 10px 0;
}
nav .nav-link:hover {
  background-color: brown !important;
  color: #fff !important;
}
nav form {
  width: 40% !important;
}

@media (max-width: 1024px) {
  nav form {
    width: 100% !important;
  }
}
.banner {
  background-image: url("../img/banner.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100% !important;
}
.banner .card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .card i {
  font-size: 13px;
}

.productArea .productImages {
  z-index: 2;
}
.productArea .productImages .primaryImage img {
  width: 100%;
  height: 550px;
  transition: all 1.5s ease;
}
.productArea .productImages .primaryImage img:hover {
  transform: scale(1.5);
}
.productArea .productImages .secondaryImages img {
  width: 33%;
  height: 150px;
}
.productArea .productImages .secondaryImages img:nth-child(1) {
  border: 1px solid green;
}
.productArea .productImages .secondaryImages img:nth-child(2) {
  border: 1px solid red;
}
.productArea .productImages .secondaryImages img:nth-child(3) {
  border: 1px solid green;
}
.productArea .productsDetails .card .card-header .reviewArea, .productArea .productsDetails .card .card-header .price {
  font-size: 16px;
}
.productArea .productsDetails .card .card-header .productAbout {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.productArea .productsDetails .card .card-body tbody, .productArea .productsDetails .card .card-body td, .productArea .productsDetails .card .card-body tfoot, .productArea .productsDetails .card .card-body th, .productArea .productsDetails .card .card-body thead, .productArea .productsDetails .card .card-body tr {
  border: none;
}
.productArea .productsDetails .card .card-body .table-responsive .quantitySelection th {
  line-height: 44px;
}
.productArea .productsDetails .card .card-body .table-responsive .quantitySelection .collon {
  line-height: 44px;
}
.productArea .productsDetails .card .card-body .table-responsive .quantitySelection .qty {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
.productArea .productsDetails .card .card-body .table-responsive .quantitySelection .inc, .productArea .productsDetails .card .card-body .table-responsive .quantitySelection .dec {
  padding: 0 5px;
  font-size: 16px;
  border: 1px solid black;
}
.productArea .productsDetails .card .card-body .table-responsive .quantitySelection .inc {
  border-bottom: 1px solid transparent;
}
.productArea .productsDetails .card .card-body .productEmotions i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  border: 1px solid black;
  margin-right: 5px;
}
.productArea .productsDetails .card .card-body .productSpec td {
  color: rgba(0, 0, 0, 0.6);
}

.latestProduct .title {
  font-size: 40px;
}
.latestProduct #recipeCarousel .card-img img {
  width: 100%;
  height: 350px !important;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

footer a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: aliceblue;
}
footer a:hover {
  color: red !important;
  transition: all 0.5s ease;
}
footer .aboutArea img {
  max-width: 150px;
}
footer .contactUs .p {
  font-size: 14px;
}
footer .contactUs i {
  margin: 15px 10px 10px 0;
}
footer .myAccount li {
  list-style: none;
}
footer .signUp .submit {
  cursor: pointer;
}
footer .signUp .socialMediaArea i {
  background-color: #fff;
  color: black;
  margin-right: 30px;
}

.hover {
  transition: all 0.5s ease;
  cursor: pointer;
}

.hover:hover {
  background-color: brown !important;
  color: aliceblue;
  border: 1px solid brown !important;
  transition: all 1s ease;
}/*# sourceMappingURL=style.css.map */